@page "/calculator"
@rendermode InteractiveServer

<h1>Add Two Numbers</h1>

    <label for = "inputA">Input A</label>
    <label for = "inputB">Input B</label>
<div>
    <input type="number" @bind= "inputA" placeholder="0"> 
    <input type="number" @bind= "inputB" placeholder="0"> 
        
</div>

<button @onclick="AddNumbers" background-color = "#EBEBEB" color = "#000000">A + B</button>


@if (result.HasValue)
{
    <h3>Result: @result</h3>
}

@code {
    int? inputA { get; set; }
    int? inputB { get; set; }
    int? result { get; set; }

    private void AddNumbers()
    {
        if (inputA.HasValue && inputB.HasValue)
        {
            result = inputA + inputB;
        }
        else
        {
            result = null;
        }
    }
}
