@page "/calculator"
@InteractiveServer

@*This line of code allows me to use the class Caclator engine and all its properties in this class counter.*@
@inject CalculatorEngine Http

<h3>Calculator</h3>

<button background-color = "#EBEBEB"; color = "#000000">A + B</button>

<form>
    <label for = "inputA">Input A</label>
    <div>
        <input type="text" id = "inputA" name = "inputA" placeholder="0"> </input>
    </div>
    
</form>





@code {
    
    
}