p {
    color: orange;
}

#clearButton{
    background-color: #EBEBEB;
    border-radius: 7px; width: 38%;
    font-size: 20px;
    margin-left: 75px;
}
#blag{
    background-color: #EBEBEB;
    margin-left: 50px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-radius: 7px; width: 38%; padding: .2%; color: #000000;
}
.try{
    background-color: #3a0647;
}
div{
    
}
section{
    height: 90vh;
    border: 10px;
}
.buttons{
border-radius: 7px; width: 42%; padding: .2%; background-color: #EBEBEB; color: #000000;
}
.outerContainer{
    border: 10px;
    max-width: 700px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.upperInputs{
    background-color: yellow;
}
.innerContainer
{
    
}