.outerContainer{
    max-width: 480px; /*These dimensions pulled from the mokup but looks smaller max-width:480 and max-height: 600*/
    max-height: 600px;
    margin: auto;
    align-items: center;
    justify-content: center;
    /*background-color: grey;*/
}
#clearButton{
    background-color: #EBEBEB;
    border-radius: 7px; width: 38%;
    font-size: 20px;
    margin-left: 75px;
}
.styleForCalculatorFunctionButtons{
    background-color: #EBEBEB;
    margin-left: 25px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-radius: 7px; width: 38%; padding: .2%; color: #000000;
}
.resultBox{
    display: flex;
    width: 500px;
    height: 75px;
    padding: 15px;
    margin: 10px;
    background-color: #FFECD7;
    text-align: center;
}
#resultBoxForInvalidInput{
    width: 500px;
    height: 75px;
    padding: 15px;
    margin: 10px;
    display: flex;
    background-color: #B70F0A;
    color: #FFFFFF;
    text-align: center;
}
.buttons{
border-radius: 7px; width: 42%; padding: .2%; background-color: #EBEBEB; color: #000000;
}
.upperInputs{
    background-color: yellow;
}
#spaceIndentForText{
    margin-left: 200px;
}
.spaceIndentForText1{
    margin-left: 200px; !important;
    font-size: medium;
}
#spaceIndentForInputBox{
    margin-left: 75px;
}
#spaceIndentForInputBox1{
    margin-left: 20px;
}
.inputBoxes{
    border-color: black;
    border-width: 2px;
}
